@use "../globals/variables";

html {
  color: variables.$text-color;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  position: relative;
}

.body__background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}

.content {
  flex: 1;
}

.hide-display {
  display: none !important;
}

.hide-height {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0 !important;
  max-height: 0 !important;
  pointer-events: none !important;
  transition: max-height 0.1s !important;
}

.hide-opacity {
  opacity: 0 !important;
}
